* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: white;
    color: #4E4E4E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: #4E4E4E;
    font-size: 24px;
}

.hero-text {
    text-align: center;
    margin-top: 250px;
    width: 100%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero-text p {
    font-size: 24px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
