body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 50px;
    background-color: #282c34;
    color: white;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header .welcome {
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
    color: #ff6600;
}

header .intro {
    font-style: italic;
    font-size: 1.2em;
    margin-top: 20px;
    color: #ddd;
}

header .warning {
    font-size: 1em;
    margin-top: 20px;
    color: #ffcc00;
}

.projects {
    padding: 50px;
    background-color: #ffffff;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.project img {
    max-width: 200px;
    margin-right: 20px;
}

.project-details h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #ff6600;
}

.project-details p {
    color: #666;
}

.about-me {
    padding: 50px;
    background-color: #eaeaea;
    text-align: center;
}

.about-me h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #282c34;
}

.about-me .profile-pic {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #282c34;
    color: white;
}

footer .social-media img {
    width: 30px;
    margin: 0 10px;
}

footer p {
    margin-top: 20px;
    font-size: 1em;
}
